body{
    text-align: center;

}
div{
    margin-top: 20px;
    width: fit-content;
    height:200px;
    border: solid black 2px;
    margin-left: 400px;
    text-align: center;
    font-size: 100px;
    font-size: 50px;
}

